* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 90vh;

    font-family: system-ui, sans-serif;
    background-color: aliceblue;
}

#todo-app {
    background-color: white;
    border-radius: 0.75rem;
    padding: 2rem;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 0.75rem;

    padding: 2rem;
    width: 400px;
    height: 500px;
}

.title {
    font-size: 2.5rem;
    font-weight: 100;
}

.todo-title {
    margin-top: 0;
}

.formstyle {
    display: flex;
    justify-content: space-between;
}

#todo-input {
    flex-grow: 1;
    border-radius: 0.5rem;
    padding: 0.75rem;

    font-size: 1rem;
    border: 1px solid lightgray;
}

#todo-input:focus {
    outline: 1px solid rgb(204, 156, 218);
}

.buttonStyle {
    background-color: orange;
    color: white;
    padding: 0.75rem 1.5rem; /* top/bottom | left/right */
    border-radius: 0.5rem;
    border: none;
    cursor: pointer;
}

.buttonStyle:hover {
    background-color: darkorange;
}

#todo-list {
    list-style: none;
    border: 1px solid lightgray;
    border-radius: 0.5rem;

    height: 300px;
    overflow: auto;
    padding: 0.5rem 1rem;
    gap: 0.75rem;
}

#todo-list li {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
